body{
background-image:url(https://image.freepik.com/vector-gratis/rueda-ruleta-casino-fichas-casino-mesa-verde_43605-2903.jpg);
background-size: 100%;
}

.dado{
background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
background-position:-803px;
width:157px;
height:156px;
margin-left: 689px;


}
#contenedor_dados{
display:flex;
width:315px;
margin: auto;
}

#boton_tirar{
  padding: .6rem 1rem;
  border: 1px solid #995309;
  border-radius: 11px;
  background-color: #d9750b;
  color: #fff;
  margin-top: 20px;

  margin-left: 730px;

  font-size: 1.5rem;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
  background-image: linear-gradient(#f90 10%,#e76a00 100%);
}

#boton_tirar:hover, #boton_tirar:focus {
  background-color: #e0811b;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
  background-image: linear-gradient(#f0a100 10%,#f70 100%);
}

#boton_tirar:active {
  background-color: #cf6a00;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
  background-image: linear-gradient(#f0a100 10%,#f70 100%);
}

#credit
{
	margin left: 100px;
	background-color: #9ACD32;
}

#reglas{
  color: white;
  margin-top: 50px;
  text-align: right;
  margin-right: 185px;
  font-family: Cambria;
}

#textoReglas{
  text-align: right;
  font-family: Franklin Gothic Medium;
  color: white;
  margin-right: 185px;
  border-radius: 30px;
  border-left-width: 789px;
  background-color: #2E8B57;
  padding: 10px;
  margin-left: 770px;


}

#nombre{
  color: gold;
  margin-top: 50px;
  font-family: Cambria;
  font-size: 45px;
}

#puntosTexto{
  margin-left: 695px;
  color: white;
  font-family: Franklin Gothic Medium;
}

.rules{
  background: grey;
}

#credit
{
  margin-left: 1200px;
}
